.introduction {
  padding: 7rem;
}
.abt__heading {
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 600;
}
.abt__heading:hover {
  text-decoration: underline;
}
.box-container {
  display: flex;
  justify-content: space-around;
}
.abt-img {
  max-width: 400px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(34px);
  border: 1px solid rgba(175, 29, 117, 0.25);
}

.abt-img img {
  width: 100%;
  height: auto;
}
.box-container .about-content {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1),
    -8px -8px 16px rgba(255, 255, 255, 0.5);

  border-radius: 4px;
  max-width: 700px;
  font-size: 1.2rem;
  font-weight: 500;
}
.box-container .about-content p {
  color: var(--text-color-lighter);
  margin-bottom: 20px;
  text-align: left;
}
.box-container .about-content p span {
  font-weight: 700;
  text-transform: uppercase;
}
.clicks {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.download__CV {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--bg-color-lighter);
  font-weight: bold;
}

.download__CV:hover {
  background-color: var(--accent-hover);
}
.social-links .about-links {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--accent-color);
  text-align: center;
  max-width: 300px;
}
.social-links .about-links a {
  color: var(--bg-color-lighter);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.skill-progress-container {
  border: 1px solid var(--text-color-lighter);
}
.skill-progress-container h3 {
  color: var(--accent-color);
  font-size: 2.5rem;
  text-align: center;
  text-transform: capitalize;
  margin: 20px;
}

.skill-set-container {
  background-color: var(--text-color-lighter);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.skill-progress {
  margin-bottom: 10px;
}
.skill-progress h2 {
  color: var(--bg-color-lighter);
  font-size: 1.5rem;
}

.progress-bar-container {
  width: 100%;
  height: 8px;
  background-color: var(--bg-color-darker);
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: var(--accent-hover);
  transition: width 0.5s;
}

.services {
  padding: 2rem;
}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.services-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  justify-content: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color-lighter);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: scale(1.05);
}
.service-card h3 {
  color: var(--accent-hover);
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 700;
}
.service-card p {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 200;
  color: var(--text-color-darker);
}

.service-card .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color-darker);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
  color: var(--bg-color-darker);
}

@media (max-width: 991px) {
  .introduction {
    padding: 5rem;
  }
}

@media (max-width: 768px) {
  .introduction {
    padding: 7rem;
  }

  .box-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .abt-img {
    max-width: 500px;
  }

  .abt-img img {
    width: 100%;
    height: auto;
  }

  .box-container .about-content {
    max-width: 600px;
  }
  .box-container .about-content p {
    font-size: 1rem;
  }
  .clicks {
    gap: 10px;
  }

  .social-links .about-links {
    gap: 0.5rem;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    max-width: 250px;
  }

  button {
    padding: 6px 8px;
    font-size: 0.8rem;
  }
  .skill-progress-container h3 {
    font-size: 1.5rem;
  }
  .skill-set-container {
    padding: 18px;
    gap: 20px;
  }
  .skill-progress h2 {
    font-size: 1rem;
  }

  .skill-set-container {
    align-items: center;
  }

  .services-box {
    grid-template-columns: 2fr;
    max-width: 300px;
  }
}

@media (max-width: 450px) {
  .introduction {
    padding: 1rem;
  }
  .abt__heading {
    padding-top: 5.2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .box-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .abt-img {
    max-width: 300px;
  }

  .skill-progress-container h3 {
    font-size: 1.2rem;
  }
  .skill-set-container {
    padding: 10px;
  }
  .skill-progress h2 {
    font-size: 1rem;
  }

  .skill-set-container {
    flex-direction: column;
  }
  .services-box {
    grid-template-columns: 1fr;
  }
  .services-box {
    gap: 10px;
  }

  .service-card {
    padding: 15px;
  }

  .service-card h3 {
    font-size: 1rem;
  }

  .service-card p {
    font-size: 0.9rem;
  }

  .service-card .icon-box {
    width: 25px;
    height: 25px;
  }
}
