.header {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logo {
  max-width: 20px;
  margin: 0;
}

img {
  width: 70px;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  background: var(--bg-color-lighter);
}

.links {
  display: flex;
  gap: 12px;
}

.links a {
  color: var(--text-color-lighter);
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background: var(--text-color-lighter);
  margin: 2px 0;
  transition: 2s;
}

@media only screen and (max-width: 768px) {
  nav {
    align-items: center;
  }
  .links {
    display: flex;
    gap: 12px;
  }

  .links a {
    font-size: 1.2rem;

    text-decoration: none;
    font-weight: bold;
  }
}

@media only screen and (max-width: 450px) {
  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    margin-top: 1rem;
    top: 60px;
    left: 0;
    background: var(--text-color-lighter);
    box-shadow: 0 2px 4px rgba(221, 169, 25, 0.1);
  }
  .links a {
    color: var(--bg-color-darker);
    padding: 0.3rem;
    font-size: 1.2rem;
  }
  .links.open {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .header.open {
    height: auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
