.home {
  padding-top: 7rem;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: transform 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero-content {
  max-width: 500px;
  transition: transform 0.3s ease-in-out;
}
.hero:hover .hero-content {
  transform: scale(1.1);
}

.hero-content h4 {
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
  color: var(--text-color-darker);
}
.hero-content h4 span {
  text-decoration: underline;
}
.hero-content h2 {
  color: var(--text-color-darker);
  font-size: 3rem;
  margin: 0;
}
.hero-content h2 span {
  display: inline-block;
  color: var(--accent-color);
  padding-left: 8px;
}

.hero-content p {
  color: var(--text-color-darker);
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 10px;
}

.image {
  max-width: 300px;
}

.image img {
  margin-top: 30px;
  width: 100%;
  height: auto;
  animation: scaleImage 2s infinite alternate;
}

/* @keyframes scaleImage {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
} */

.preview-sections {
  border-top: 1px solid var(--text-color-darker);
  padding-top: 2rem;
}

.heading {
  text-align: center;
  color: var(--accent-color);
  text-transform: capitalize;
  font-size: 2.5rem;
}

.home__abt-box {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  transition: transform 0.3s ease-in-out;
}
.home__abt-image {
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
}
.home__abt-image img {
  width: 100%;
  height: auto;
}

.home__abt-content {
  background: rgba(209, 210, 210, 0.7);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 500px;
  padding: 20px;
  font-size: 1.2rem;
}

.home__abt-content p {
  margin-bottom: 15px;
  transition: opacity 0.3s ease-in-out;
  color: var(--bg-color-darker);
}

.home__abt-content a {
  color: var(--bg-color-darker);
  text-decoration: none;
  font-weight: bold;
}

.home__abt-content a:hover {
  background: var(--bg-color-darker);
  color: var(--text-color-darker);
  padding: 8px;
  border-radius: 4px;
  outline: none;
}
/* ***********************************HOME PROJECT STYLING**************************************** */
.projects {
  background-color: var(--text-color-lighter);
  padding: 20px;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.project__heading {
  color: var(-bg-color-lighter);
  text-transform: capitalize;
}

.headings {
  margin: 0;
  color: var(-bg-color-lighter);
  text-transform: capitalize;
}

.heading-box a {
  color: var(--bg-color-darker);
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.heading-box a:hover {
  text-decoration: underline;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-card {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--bg-color-lighter);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.project-card img:hover {
  transform: scale(1.05);
}

.project-card h3 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--accent-color);
}

.project-card p {
  margin: 5px 0;
  color: var(--text-color-lighter);
  font-size: 1.1rem;
  font-weight: 300;
  text-align: left;
}

.project-card p:last-child {
  font-weight: bold;
}
/* ***********************************HOME CONTACT STYLING**************************************** */
.contact {
  padding: 20px;
}

.contact-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: var(--accent-color);
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact-links {
  flex: 1;
}

.contact-link-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  background-color: var(--text-color-darker);
  color: var(--bg-color-darker);
  padding: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bg-color-lighter);
}

.icon svg {
  color: var(--text-color-lighter);
  font-size: 1.2rem;
}

.link-content {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.link-content h4 {
  font-size: 1.2rem;
}

.link-content p {
  margin: 0;
  font-size: 1rem;
}

.message {
  margin: 0;
  background-color: var(--text-color-darker);
  padding: 10px;
  color: var(--bg-color-lighter);
  border-radius: 4px;
}
.message h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

.message p {
  margin-bottom: 15px;
  max-width: 600px;
  font-size: 1rem;
}
.form-container {
  flex: 1;
}
.input {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--bg-color-lighter);
  border-radius: 5px;
  outline: none;
  width: 100%;
  background-color: transparent;
  resize: none;
  color: var(--bg-bg-color-lighter);
  font-size: 1.2rem;
}
input::placeholder {
  color: var(--bg-color-darker);
  text-transform: capitalize;
}
button {
  padding: 10px 15px;
  background-color: var(--accent-color);
  color: var(--bg-color-lighter);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
}

button:hover {
  background-color: var(--accent-hover);
}

@media (max-width: 991px) {
  .project-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .project-card {
    padding: 20px;
  }

  .project-card h3 {
    font-size: 1.2rem;
  }

  .project-card p {
    font-size: 0.8rem;
  }

  .input {
    flex-direction: row;
  }

  input,
  textarea {
    width: calc(50% - 5px);
  }
}

@media (max-width: 774px) {
  .home {
    padding-top: 4rem;
  }
  .hero {
    display: flex;
    justify-content: space-evenly;
  }
  .hero-content {
    max-width: 450px;
    transition: transform 0.3s ease-in-out;
  }
  .hero:hover .hero-content {
    transform: scale(0.9);
  }

  .hero-content h4 {
    font-size: 1.8rem;
  }

  .hero-content h2 {
    font-size: 3rem;
    margin: 0;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .image {
    max-width: 250px;
  }

  /* about */
  .heading {
    font-size: 2rem;
  }
  .home__abt-box {
    justify-content: space-evenly;
    margin: 20px 0;
  }
  .home__abt-image {
    max-width: 250px;
    transition: transform 0.3s ease-in-out;
  }
  .home__abt-image img {
    width: 100%;
    height: auto;
  }

  .home__abt-content {
    max-width: 350px;
    padding: 20px;
  }

  .home__abt-content p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    transition: opacity 0.3s ease-in-out;
    font-weight: 500;
  }

  .home__abt-content a {
    font-size: 1.5rem;
  }
  /* about ends here */
  .heading-box {
    display: flex;
    margin-bottom: 20px;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .project-card {
    padding: 15px;
  }

  .project-card h3 {
    font-size: 1.1rem;
  }

  .project-card p {
    font-size: 1rem;
  }
  .contact {
    padding: 20px;
  }

  .contact-heading {
    font-size: 2rem;
  }
  .contact-container {
    display: flex;
  }
  .contact-links {
    max-width: 300px;
  }

  .contact-link-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .icon svg {
    font-size: 1.1rem;
  }

  .link-content {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .link-content h4 {
    font-size: 1.2rem;
  }

  .link-content p {
    margin: 0;
    font-size: 1.1rem;
  }

  .message {
    padding: 0.8rem;
    max-width: 400px;
  }
  .message h3 {
    font-size: 1.5rem;
  }

  .message p {
    font-size: 1.1rem;
  }
  .form-container {
    flex: 1;
  }
  .input {
    display: flex;
  }

  input,
  textarea {
    width: 100%;
    font-size: 1.1rem;
  }
  input::placeholder {
    text-transform: capitalize;
  }
  button {
    padding: 10px 15px;
    background-color: var(--accent-color);
    color: var(--bg-color-darker);
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--accent-hover);
  }
}

@media (max-width: 450px) {
  .home {
    padding-top: 7rem;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .hero-content {
    max-width: 350px;
  }

  .hero-content h4 {
    font-size: 1.6rem;
  }

  .hero-content h2 {
    font-size: 2.5rem;
    margin: 0;
  }

  .hero-content p {
    font-size: 0.8rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  /* about */

  .home__abt-box {
    flex-direction: column-reverse;
    align-items: center;
  }

  /* about ends here */
  .project-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .project-card {
    padding: 10px;
  }

  .project-card h3 {
    font-size: 1.1rem;
  }

  .project-card p {
    font-size: 1rem;
  }

  .contact-container {
    flex-direction: column;
  }
  .input {
    flex-direction: column;
  }
  input,
  textarea {
    width: 100%;
  }
}
