@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sofia+Sans+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  --bg-color-darker: #14181d;
  --bg-color-lighter: #282d33;
  --text-color-darker: #d1d2d2;
  --text-color-lighter: #f3f4f4;
  --btn-color: #fb8122;
  --btn-hover: #e78332;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
body {
  background: var(--bg-color-darker);
}
a {
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
  color: var(--text-color-lighter);
}
/* **************************************FOOOTER**************************** */
Footer {
  background: var(--bg-color-lighter);
  padding: 2rem;
  color: var(--text-color-lighter);
  text-transform: capitalize;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer__image {
  max-width: 200px;
}
.footer__image img {
  max-width: 100%;
  height: auto;
}
.tagline {
  margin-top: 10px;
  font-size: 14px;
}
.footer__tabs,
.footer__services,
.footer__socials,
.footer__copyright {
  flex-basis: calc(25% - 20px); /* Adjust the width of each section */
  margin-bottom: 20px;
}

.footer__tabs h2,
.footer__services h2,
.footer__socials h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.footer__services p {
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}
.footer__socials {
  display: inline-block;
}
.footer__socials a,
.footer__tabs a {
  text-decoration: none;
  color: var(--text-color-lighter);
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}
.footer__tabs a:hover {
  text-decoration: underline;
}
.footer__socials a:hover {
  text-decoration: underline;
}

.footer__copyright {
  border-top: 1px solid var(--text-color-lighter);
}
.footer__copyright p {
  margin: 1rem 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 14px;
}
.footer__copyright p span {
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .footer__tabs,
  .foooter__services,
  .footer__socials,
  .footer__copyright {
    flex-basis: 100%;
  }
}
